.header{
    background-color: black;
    color:white;
    height:100px;
    line-height:100px;
}
.mainbody{
    background-color:lightgray;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}
.common{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    line-height:30px;
    font-size:15px;
    list-style-position:inside;
    color:rgb(74, 73, 73)
    
}
ol{
    line-height:60px;
    font-size:20px;
    list-style-position:inside;
}
nav{
    overflow:hidden;
    padding:10px;
    background-color:slategray
}
nav a{
    padding:15px;
    text-decoration:none;
    font-weight:bold;
    color:darkslategray
}
nav a:hover{
    background-color:lightcyan;
}
.footer{
    position:fixed;
    background-color:black;
    color:white;
    bottom:0px;
    left:3px;
    right:3px;
    height:25px;
    font-size: 10px;
    line-height:25px;
}